.titulo-nosotros {
  @include center-text;
  margin: 2rem;
}

.nosotros-parrafo {
  font-family: $font-secondary;
  line-height: 2;
  text-align: justify;
  padding: 0 4rem;
}

.contenedor-nosotros {
  h3 {
    margin: 2rem;
  }
}